.warp{
    background:blue;
    width: 900px;
    margin: 10px auto;
}

.warp .header{
    background: #ffc107;
    padding: 2px 10px;
}

.warp .menu{
    background: yellow;
}

.warp .menu ul{
    padding: 0;
    margin: 0;
    background: #0be3ff;
    overflow: hidden;
}

.warp .menu ul li{
    float: left;
    list-style-type: none;
    padding: 10px;
}

.clear{
    clear: both;
}

.badan{
    height: 450px;
}

.warp .badan .sidebar{
    background: #009688;
    float: left;
    width: 25%;
    height: 100px;
}

.warp .footer{
    width: 100%;
    padding: 100px;
    text-align: center;
}